body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.middle-box {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.banner {
	width:100%;
}

.about {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.about p {
	margin: 0 0 1em;
}

.about strong {
	font-weight: bold;
}

.about em {
	font-style: italic;
}

.section-title {
    text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.barber-utensils {
    width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}